{% extends "base.html" %}
{% block title %}Gadlfy Prompts{% endblock %}
{% block banner_title %}Gadfly{% endblock %}
{% block content %}
<div style="padding: 40px; max-width: 900px; margin: 0 auto;">
    <h1 style="text-align: center;">The Prompts that Power Gadfly's Categorization</h1>
        <h3 style="margin-top: 2rem; margin-bottom: 0.5rem;">The Anaylsis Prompt:</h3>
        <pre style="white-space: pre-wrap; word-wrap: break-word;">{{ prompt }}</pre>
        <h3 style="margin-top: 2rem; margin-bottom: 0.5rem;">The Synthesis Prompt: </h3>
        <pre style="white-space: pre-wrap; word-wrap: break-word;">{{ prompt_2 }}</pre>
    <h1 style="text-align: center; margin-top: 3rem; margin-bottom: 1rem;">See the Open Source Code Behind the Project</h1>
    <p style="text-align: center;">
        <a href="https://github.com/jryanlohmolder/gadfly" style="color: blue; text-decoration: none;">View on GitHub</a>
    </p>  
</div>
{% endblock %}