<!DOCTYPE html>
<html>
    <head>
        <title>Prompts</title>
    </head>
    <body>
        <nav style="text-align: right;">
            <a href="{{ url_for('home') }}">Home</a> |
            <a href="{{ url_for('about_page') }}">About</a> |
            <a href="{{ url_for('prompt_page') }}">Prompts</a>
        </nav>
        <div style="padding-top: 100px;">
            <h1 style="text-align: center;">The Prompts that Power Gadfly</h1>
            <p>
               <h3>The Anaylsis Prompt</h3>
                <pre>{{ prompt }}</pre><br>
                <h3>The Synthesis Prompt</h3>
                <pre>{{ prompt_2 }}</pre> 
            </p>
            <h1 style="text-align: center;">See the Open Source Code Behind the Project</h1>
            <p style="text-align: center;">
                <a href="https://github.com/jryanlohmolder/gadfly">View on GitHub</a>
            </p>  
        </div>
    </body>
</html>